.content-header
    .header-inner: h2 #{header_title}
    .stream-container
        ol.postlist
            - posts.forEach(function(post){
                li.media(id=post._id)
                    a.pull-left(href="/" + post.author)
                        strong.fullname #{post.author}
                        img.media-object.avatar(src="../img/avatar.png")
                    .media-body
                        | !{post.time}
                        .post: p !{post.content}
                        if user && user.name == post.author
                            .tweet-actions
                                span(title="删除").icon-remove.fade
                                span(title="编辑").icon-edit.fade
                                span(title="保存").icon-save.fade.hide
            - })



