.content-header
    .header-inner: h2 #{header_title}
    .stream-container
        ol.postlist
            - posts.forEach(function(post){
                li.media(id=post.id)
                    a.pull-left(href="/" + post.user)
                        strong.fullname #{post.user}
                        img.media-object.avatar(src="../img/avatar.png")
                    .media-body
                        | !{post.time}
                        .post: p !{post.post}
                        if user && user.name == post.user
                            .tweet-actions
                                a(href="",title="删除").icon-remove.fade
                                a(href="",title="编辑").icon-edit.fade
                                a(href="",title="保存").icon-save.fade.hide
                                span.tweet-counter.hide
            - })



