!!!
html
    head
        meta(charset="utf-8")
        title microblog
        meta(name='viewport',content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='//fortawesome.github.com/Font-Awesome/assets/css/font-awesome.css')
        link(rel='stylesheet', href='/stylesheets/login.css')
    body
        a.logo(data-toggle="tooltip",data-placement="right",title="顫抖吧！人類……",href="/",tabindex=-1)
            img(src="/img/logo.png",alt="logo")
        .container
            a.hiddenanchor#toregister
            a.hiddenanchor#tologin
            #wrapper
                mixin control-group(id,label_text,icon_class,placeholder,required_message,type)
                    if !type
                        type = "text"
                    p.control-group
                        label(for=id) #{label_text}
                        i(class=icon_class)
                        input(id=id,name=id,type=type,required,placeholder=placeholder,data-validation-required-message=required_message)
                        span.help-block
                mixin submit_button(value)
                    p.submit.button
                        input(type="submit",value=value).btn.btn-primary
                mixin change_link(text,href,text_link)
                    p.change_link
                        | #{text}
                        a(href=href) #{text_link}
                #login.animate.form
                    h1 Mini Blog
                    form(method="post",action="/login",autocomplete="on",novalidate)
                        +control-group("username","用户名或邮箱","icon-user","用户名或邮箱","请填写用户名！")
                        +control-group("password","密码","icon-key","密码","请填写密码！","password")
                        p.keeplogin.checkbox
                            input#loginkeeping(type="checkbox",name="loginkeeping",value=1)
                            label(for="loginkeeping") 记住我
                        +submit_button("登录")
                        a.forgot_pw(href="/(forgot_password)") 忘记密码
                        +change_link("木有账号？","#toregister","立即注册")
                #register.animate.form
                    h1 Mini Blog
                    form(method="post",action="/reg",autocomplete="on",novalidate)
                        +control-group("usernamesignup","用户名","icon-user","用户名","请填写用户名！")
                        +control-group("emailsignup","邮箱地址","icon-envelope","邮箱","请填写邮箱！","email")
                        p.control-group
                            label(for="passwordsignup") 密码
                            i.icon-key
                            input#passwordsignup(name="passwordsignup",required,type="password",placeholder="密码",data-validation-required-message="请填写密码！",maxlength=12,data-validation-callback-callback="regexpPw")
                            span.help-block
                        p.control-group
                            label(for="passwordsignup_confirm") 确认密码
                            i.icon-key
                            input#passwordsignup_confirm(name="passwordsignup_confirm",type="password",required,placeholder="确认密码",data-validation-required-message="请填写密码！",data-validation-match-match="passwordsignup",data-validation-match-message="密码不匹配")
                            span.help-block
                        +submit_button("注册")
                        +change_link("已有账号？","#tologin","立即登录")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
        script(src="/bootstrap/js/bootstrap.min.js")
        script(src="/javascripts/jquery.backstretch.min.js")
        script(src="/javascripts/jqBootstrapValidation.js")
        script(src="/javascripts/sign.js")



